h1{
    color: black;
}

h2{
    color: black;
}

body {
    background-color: #e5e5e5ff;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fca311ff;
  }
  
  li {
    text-align: center; /* Center the text horizontally */
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: black;
  }
  
  .active {
    background-color: #14213dff;
  }
  
  .navbar {
    width: 200px; /*width of the navbar */
    background-color: #fca311ff; /*desired background color */
    position: fixed; /* Fix the navbar position */
    left: 0; /* Align to the left */
    top: 0; /* Align to the top */
    height: 100%; /* Occupy full height of the viewport */
    display: flex; /* Use flexbox for vertical alignment */
    flex-direction: column; /* Arrange items vertically */
    justify-content: flex-start; /* Align items to the top of the container */
    padding-top: 20px; 
    overflow: scroll; /* Enable scrolling */
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    padding: 10px;
    text-align: center; /* Center the text horizontally */
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar li:hover {
    background-color: #fca311ff; /* Change background color on hover */
  }
  
   button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    opacity: 0.9;
    }
  
    button:hover {
      background-color: #e5e5e5ff;
      opacity: 1;
      }

      .title {
        padding-left: 240px; /* Adjust the padding according to the width of your navbar */
      }